In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bank.csv")

In [3]:
print(df)
# Perform one-hot encoding
df_encoded = pd.get_dummies(df)

# Display the encoded DataFrame
print("\nDataFrame after one-hot encoding:")
print(df_encoded.head())

       age          job  marital  education default  balance housing loan  \
0       59       admin.  married  secondary      no     2343     yes   no
1       56       admin.  married  secondary      no       45      no   no
2       41   technician  married  secondary      no     1270     yes   no
3       55     services  married  secondary      no     2476     yes   no
4       54       admin.  married   tertiary      no      184      no   no
...    ...          ...      ...        ...     ...      ...     ...  ...
11157   33  blue-collar   single    primary      no        1     yes   no
11158   39     services  married  secondary      no      733      no   no
11159   32   technician   single  secondary      no       29      no   no
11160   43   technician  married  secondary      no        0      no  yes
11161   34   technician  married  secondary      no        0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0       unknown    5   may      1042         1     -1         0  unknown
1       unknown    5   may      1467         1     -1         0  unknown
2       unknown    5   may      1389         1     -1         0  unknown
3       unknown    5   may       579         1     -1         0  unknown
4       unknown    5   may       673         2     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
11157  cellular   20   apr       257         1     -1         0  unknown
11158   unknown   16   jun        83         4     -1         0  unknown
11159  cellular   19   aug       156         2     -1         0  unknown
11160  cellular    8   may         9         2    172         5  failure
11161  cellular    9   jul       628         1     -1         0  unknown

      deposit
0         yes
1         yes
2         yes
3         yes
4         yes
...       ...
11157      no
11158      no
11159      no
11160      no
11161      no

[11162 rows x 17 columns]

DataFrame after one-hot encoding:
   age  balance  day  duration  campaign  pdays  previous  job_admin.  \
0   59     2343    5      1042         1     -1         0        True
1   56       45    5      1467         1     -1         0        True
2   41     1270    5      1389         1     -1         0       False
3   55     2476    5       579         1     -1         0       False
4   54      184    5       673         2     -1         0        True

   job_blue-collar  job_entrepreneur  ...  month_may  month_nov  month_oct  \
0            False             False  ...       True      False      False
1            False             False  ...       True      False      False
2            False             False  ...       True      False      False
3            False             False  ...       True      False      False
4            False             False  ...       True      False      False

   month_sep  poutcome_failure  poutcome_other  poutcome_success  \
0      False             False           False             False
1      False             False           False             False
2      False             False           False             False
3      False             False           False             False
4      False             False           False             False

   poutcome_unknown  deposit_no  deposit_yes
0              True       False         True
1              True       False         True
2              True       False         True
3              True       False         True
4              True       False         True

[5 rows x 53 columns]